#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env


### react

# dependencies
src/main/ui/node_modules
src/main/ui/.pnp
src/main/ui/.pnp.js

# testing
src/main/ui/coverage

# production
src/main/ui/build

# misc
src/main/ui/.DS_Store
src/main/ui/.env.local
src/main/ui/.env.development.local
src/main/ui/.env.test.local
src/main/ui/.env.production.local

src/main/ui/npm-debug.log*
src/main/ui/yarn-debug.log*
src/main/ui/yarn-error.log*